[package]
name = "kitsune_p2p_mdns"
version = "0.0.1"
description = "p2p / mdns discovery framework"
license = "Apache-2.0"
homepage = "https://apilium.com"
repository = "https://github.com/ApiliumCode/aingle"
documentation = "https://docs.rs/kitsune_p2p_mdns"
authors = ["Apilium Technologies <hello@apilium.com>"]
keywords = [ "aingle", "ai", "p2p", "mdns", "networking" ]
categories = [ "network-programming" ]
edition = "2018"

[[example]]
name = "broadcast"
path = "examples/broadcast.rs"

[[example]]
name = "discover"
path = "examples/discover.rs"

[dependencies]
libmdns = "=0.6.0"
mdns = "=3.0.0"
futures-util = "0.3.1"
futures-core = "0.3.1"
async-stream = "0.3.6"
base64 = "0.22"
thiserror = "2.0"
tokio = { version = "1", features = [ "full" ] }
tokio-stream = { version = "0.1" }
